@use "@repo/styles/constants";

.create_task_container {
  @include constants.flexbox(
    $direction: column,
    $justify: space-between,
    $align: stretch
  );
  width: 100%;
}

.main_create_task_inputs_container {
  @include constants.flexbox(
    $direction: row,
    $justify: space-between,
    $align: flex-start
  );
  width: 100%;
}

.create_task_inputs_container {
  @include constants.flexbox(
    $direction: column,
    $justify: space-between,
    $align: stretch,
    $gap: 0
  );
  flex: 1 1 50%;
  min-width: 300px;
}

.create_task_button {
  @include constants.flexbox(
    $direction: row,
    $align: center,
    $justify: space-between,
    $gap: constants.$xs
  );
  white-space: nowrap;
}

.create_task_worker_container {
  @include constants.flexbox(
    $direction: column,
    $align: stretch,
    $justify: space-between,
    $gap: constants.$xxs
  );
}
