@use '@repo/styles/constants';


.layout {
    @include constants.flexbox($direction: row, $align: stretch, $justify: center, $gap: 0, $height: 100%);
    background-color: constants.$white;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.divider {
    background-color: constants.$primary;
    height: 1px;
    width: 30px;
    position: relative;
    box-sizing: border-box;
    margin-bottom: constants.$xl;
    margin-top: constants.$xl;
}


