@use "@repo/styles/constants";
@use "sass:map";

@import "../../Task.module.scss";

.description_container {
  @include constants.flexbox(
    $direction: column,
    $justify: space-between,
    $align: stretch
  );
}

.description_header {
  @include constants.flexbox(
    $direction: row,
    $justify: flex-start,
    $align: center
  );
}

.description_content {
  @include constants.flexbox(
    $direction: column,
    $justify: space-between,
    $align: flex-start
  );
}

.description_content_icon {
  width: 24px;
}

.description_content_text {
  flex: 1 1;
  textarea {
    width: 100% !important;
    min-height: 60px;
  }
}

.description_text {
  padding: map.get(constants.$padding, "md");
  background-color: constants.$light;
}
