@use '@repo/styles/colors';
@use '@repo/styles/layout';
@use '@repo/styles/sizes';

.sidebar_container {
    @include layout.flexbox($direction: column, $align: stretch, $justify: space-between);
    height: calc(100% - 42px);
    width: 100%;
    z-index: 4;
    background-color: transparent;
    overflow-x: hidden;
    ul {
        margin-top: sizes.$md;
        list-style: none;
        font-weight: 500;
        li {
            font-family: Geist;
            font-size:map-get(sizes.$font_size, 'sm' );
        }
        li[data-hassubmenu='true'] {
            font-family: Geist;
            margin-bottom: sizes.$xs;
            font-size: map-get(sizes.$font_size, 'sm' );
            button {
                font-size: map-get(sizes.$font_size, 'sm' );
            }
            a {
                font-size: map-get(sizes.$font_size, 'sm' );
            }
        }
    }
    .menu_content_container {
        padding: map-get($map: sizes.$padding, $key: 'xs' );
        border-bottom: 1px solid colors.$grey;
    }
    .menu_item_container {
        color: colors.$dark;
        padding: map-get($map: sizes.$padding, $key: 'xxs' );
        margin: 0;
        .menu_item {
            border: none;
            background-color: transparent;
            font-weight: 500;
            @include layout.flexbox($direction: row, $align: center, $justify: flex-start, $gap: sizes.$xs );
            color: colors.$dark;
            padding: map-get(sizes.$padding , 'xs' );
            border-radius: map-get(sizes.$border_radius , 'xs' );
            text-decoration: none;
            cursor: pointer;
            width: 100%;
            height: 24px;
            box-sizing: border-box;
            position: relative;
            &:hover {
                background-color: colors.$primary_light;
                color: colors.$dark;
            }
        }
        .menu_item[data-disabled="true"] {
            color: colors.$lightgrey;
            cursor: not-allowed;
            &:hover {
                background-color: transparent;
                color: colors.$lightgrey;
            }
        }
        .menu_item_active {
            background-color: colors.$primary_light;
            color: colors.$dark; 
            &:hover {
                background-color: colors.$primary_light;
                color: colors.$dark; 

            }
        }
    }
}

.submenu_container {
    height: 0;
    transition: height .4s ease;
    font-size: map-get(sizes.$font_size, 'xs' );
    overflow: hidden;
    ul {
        margin-top: 0;
        list-style: none;
        font-weight: 500;
        background-color: colors.$light;
        // padding-inline-start: sizes.$sm;
        li {
            margin-bottom: sizes.$xs;
            font-size: map-get(sizes.$font_size, 'xs' );
            button {
                font-size: map-get(sizes.$font_size, 'xs' );
            }
        }
    }
};

.submenu_container[data-showsubmenu='true'] {
    height: auto;
}

.admin_container {
    @include layout.flexbox($direction: row, $align: center, $justify: flex-start, $gap: sizes.$md);
    background-color: colors.$yellow;
    padding: map-get($map: sizes.$padding, $key: 'md' );
    font-size: map-get(sizes.$font_size, 'xs' );
    font-weight: 500;
    color: colors.$dark;
}

.message_indicator_container {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 5;
    transform: translateY(-50%);
}

.sidebar_open {
    width: 40px;
}

.sidebar_divider_container {
    @include layout.flexbox($direction: row, $align: flex-end, $justify: flex-start);
    padding: map-get($map: sizes.$padding, $key: 'xs' );
    border-bottom: 1px solid colors.$grey;
    position: relative;
    font-size: map-get(sizes.$font_size, 'xs' );
    font-weight: 500;
    color: colors.$dark;
    margin-top: sizes.$md;
    margin-bottom: sizes.$xs;
}
