@use '@repo/styles/colors';
@use '@repo/styles/layout';
@use '@repo/styles/sizes';

.sidebar_label {
    display: inline;
}

.sidebar_label_open {
    display: none;
}

.sidebar_dropicon {
    position: absolute;
    right: sizes.$xs;
    top: 50%;
    transform: translate(0, -50%) rotate(0);
    height: 10px;
    width: 10px;
}

.sidebar_dropicon_open {
    right: 0;
}