@use "sass:map";
@use "@repo/styles/constants";

.main_container {
  @include constants.flexbox(
    $direction: column,
    $align: flex-end,
    $justify: space-between,
    $gap: 0
  );
  width: 100%;
  position: relative;
  box-sizing: border-box;
  background-color: constants.$white;
}

.siteheader_container {
  @include constants.flexbox(
    $direction: row,
    $align: center,
    $justify: space-between
  );
  width: 100%;
  position: relative;
  height: 42px;
  box-sizing: border-box;
  border-bottom: 1px solid constants.$grey;
  padding: map.get(constants.$padding, "md");
}

.nav_container {
  @include constants.flexbox(
    $direction: row,
    $align: center,
    $justify: space-between
  );
  width: 100%;
  position: relative;
  box-sizing: border-box;
  border-radius: map.get(constants.$border_radius, "md");
  background-color: constants.$light;
  border: 0.6px solid constants.$grey;
  padding: map.get(constants.$padding, "md");
}

.nav_container_underline {
  @include constants.flexbox(
    $direction: row,
    $align: flex-end,
    $justify: space-between
  );
  width: 100%;
  padding-bottom: 0;
  position: relative;
  box-sizing: border-box;
  border-bottom: 1px solid constants.$grey;
  padding: map.get(constants.$padding, "md");
  padding-bottom: 0;
}

.siteheader_container[data-hassitenav="true"] {
  top: 0;
}

.siteheader_content_container {
  @include constants.flexbox(
    $direction: row,
    $align: flex-end,
    $justify: space-between,
    $gap: constants.$md
  );
  width: 100%;
  position: relative;
  box-sizing: border-box;
  border-bottom: 1px solid constants.$grey;
  padding: map.get(constants.$padding, "md");
  background-color: constants.$white;
}

.siteheader_button_container {
  @include constants.flexbox(
    $direction: row,
    $align: flex-end,
    $justify: space-between,
    $gap: constants.$sm
  );
}

.siteheader_createbutton {
  @include constants.flexbox(
    $direction: row,
    $align: center,
    $justify: space-between,
    $gap: constants.$xs
  );
  white-space: nowrap;
}

.add_icon {
  display: inline-block;
  position: relative;
  height: 12px;
  svg {
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
  }
}

.siteheader_right_container {
  @include constants.flexbox(
    $direction: row,
    $align: center,
    $justify: flex-end,
    $gap: constants.$md
  );
}

.week_container {
  @include constants.flexbox($align: center, $gap: constants.$xs);
  color: constants.$dark;
  p {
    white-space: nowrap;
  }
}

.user_container {
  @include constants.flexbox(
    $direction: row,
    $justify: flex-start,
    $align: center
  );
  cursor: pointer;
  position: relative;
}

.user_image_container {
  height: 24px;
  width: 24px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  background-color: constants.$grey;
}

.user_image_placeholder {
  height: 24px;
  width: 24px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  background-color: constants.$grey;
}
