@use '@repo/styles/constants';

.records_overview {
    @include constants.flexbox(
        $direction: column,
        $justify: flex-start,
        $align: stretch
    );
    background-color: constants.$lightest;
}

.records_container {
    @include constants.flexbox(
        $direction: column,
        $justify: space-between,
        $align: stretch,
        $gap: constants.$xs
    );

    .records_subheadline {
        @include constants.flexbox(
            $direction: row,
            $justify: flex-start,
            $align: center
        );
        width: 120px;
        color: constants.$grey;
    }
}

.siteheader_content {
    @include constants.flexbox(
        $direction: row,
        $justify: space-between,
        $align: center
    );
}
