@use '@styles/colors';
@use '@styles/layout';
@use '@styles/sizes';
@use '@styles/buttons';

.comment_interface {
    @include layout.flexbox($direction: column, $justify: space-between, $align: stretch, $gap: 0);
    height: 100%;
}

.comment_interface_content {
    flex: 1 1 50%;
    overflow: auto;
}

.comment_interface_footer {
    flex: 1 1 50%;
    overflow: hidden;
}

.comment_container {
    @include layout.flexbox($direction: column, $justify: space-between, $align: stretch);
    margin-top: sizes.$lg;
    p {
        line-height: 1.4;
    }
};

.comment_header {
    @include layout.flexbox($direction: row, $justify: space-between, $align: flex-end);
    padding-bottom: sizes.$xs;
    border-bottom: 1px solid colors.$grey
};

 .comment_content {
    @include layout.flexbox($direction: row, $justify: space-between, $align: flex-start);
};

.comment_content_icon {
    width: 24px;
};

.comment_content_text {
    background-color: colors.$light;
    padding: map-get($map: sizes.$padding, $key: 'sm' );
    flex: 1 1 calc(100% - 24px);
    border-radius: map-get($map: sizes.$border_radius, $key: 'sm' );
};

.create_comment_container {
    @include layout.flexbox($direction: column, $justify: center, $align: flex-start, $gap: sizes.$xs);
    background-color: colors.$lightest;
    padding: map-get($map: sizes.$padding, $key: 'md' );
    height: 100%;
};

