
@use '@styles/colors';
@use '@styles/sizes';


.infobox_container {
    position: relative;
    font-family: 'Open Sans',;
    padding: map-get($map: sizes.$padding, $key: 'sm' );
    margin-top: sizes.$md;
    font-size: map-get($map: sizes.$font_size, $key: 'sm' ) ; 
    background-color: lightgreen;
    text-wrap: wrap;
    p {
        line-height: 1.2;
    }
}

.infobox_container[data-color='green'] {
    background-color: colors.$green;
    color: white;
} 

.infobox_container[data-color='red'] {
    background-color: colors.$red;
    color: white;
} 

.infobox_icon {
    margin-right: sizes.$xxs;
    display: inline;
}