@use '@repo/styles/colors';
@use '@repo/styles/layout';
@use '@repo/styles/sizes';

// .feedback_container {
//     @include layout.flexbox($direction: row, $align: center, $justify: center);
//     position: fixed;
//     bottom: 12px;
//     left: 50%;
//     transform: translate(-50%, 100px);
//     width: auto;
//     height: 30px;
//     z-index: 5;
//     animation-name: example;
//     animation-duration: 3s;
//     color: colors.$white;
//     display: none;
//     padding: map-get($map: sizes.$padding, $key: 'sm' );
//     border-radius: map-get($map: sizes.$border_radius, $key: 'md' );
//     box-shadow: layout.$shadow_hover;
// }

.feedback_container {
    @include layout.flexbox($direction: row, $align: center, $justify: flex-end);
    font-family: Roboto;
    width: auto;
    font-size: map-get($map: sizes.$font_size, $key: 'md' );
    animation-name: example;
    animation-duration: 3s;
    color: colors.$dark;
}

.feedback_container[data-type='success'] {
    color: colors.$green_shaded;
}

.feedback_container[data-type='error'] {
    color: colors.$red_shaded;
}

.feedback_container[data-type='loading'] {
    color: colors.$yellow_shaded;
}

@keyframes example {
    0%   {opacity: 0;}
    25%  {opacity: .25;}
    75%  {opacity: .75;}
    100% {opacity: 1;}
  }