@use '@styles/colors';
@use '@styles/layout';
@use '@styles/sizes';

@import '../../Task.module.scss';


.object_container {
    @include layout.flexbox($direction: row, $justify: flex-start, $align: center);
    font-weight: 500;
    font-size: .7rem;
    p[data-is-overdue="true"] {
        color: colors.$red;
        font-weight: 500;
    }
}