@use "@repo/styles/constants";

.create_property_container {
  @include constants.flexbox(
    $direction: column,
    $justify: space-between,
    $align: stretch
  );
  width: 100%;
  height: 100%;
}
