@use '@repo/styles/constants';

.icon_button_container {
    @include constants.flexbox($direction: row, $align: center, $justify: center, $gap: 0);
    cursor: pointer;
    // font-size: map-get($map: constants.$font_size, $key: 'md' );
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: map-get($map: constants.$border_radius, $key: 'xs');
    padding: 0;
}

.icon_button_container[data-isdark="false"] {
    border: none;
    color: constants.$dark;
    background-color: transparent;
    &:hover {
        color: constants.$dark;
        border: none;
        background-color: constants.$light;
    }
}

.icon_button_container[data-isdark="true"] {
    border: none;
    color: constants.$light;
    background-color: constants.$dark;
}

.icon_button_container[data-noborder="true"] {
    border: none !important;
}

.icon_button_container[data-haslabel="true"] {
    @include constants.flexbox($direction: row, $align: center, $justify: center, $gap: constants.$xxs);
    cursor: pointer;
    font-size: map-get($map: constants.$font_size, $key: 'md' );
    position: relative;
    padding: 0;
    border:none;
    background-color: transparent;
    &:hover {
        color: inherit;
        border: none;
        background-color: transparent;
    }
    .icon_label {
        margin: 0;
        color: inherit !important;
        font-weight: 400;
        cursor: inherit;
    }
}


.icon_button_container:disabled {
    border: inherit;
    color: constants.$grey_tinted;
    background-color: transparent;
    cursor: default; 
    &:hover {
        color: constants.$grey_tinted;
        border: none;
        background-color: transparent;
    }
}

.icon_container {
    @include constants.flexbox($direction: row, $align: center, $justify: center);
    position: 'relative';
    background-color: transparent;
    font-weight: 500;
   
    line-height: 1;
    position: relative;
    font-size: 10px;
   
}

// .icon_button_container:disabled {
//     border: 1px solid constants.$grey_tinted;
//     color: constants.$grey_tinted;
//     background-color: transparent;
//     cursor: default;
// }