@use '@repo/styles/colors';
@use '@repo/styles/sizes';
@use '@repo/styles/layout';

.icon_button_container {
    @include layout.flexbox($direction: row, $align: center, $justify: center, $gap: 0);
    cursor: pointer;
    font-size: map-get($map: sizes.$font_size, $key: 'md' );
    position: relative;
    width: 21px;
    height: 21px;
    border-radius: map-get($map: sizes.$border_radius, $key: 'xs');
    padding: 0;
}

.icon_button_container[data-isdark="false"] {
    border: 1px solid colors.$darkgrey;
    color: colors.$darkgrey;
    background-color: transparent;
    &:hover {
        color: colors.$dark;
        border: 1px solid colors.$dark;
        background-color: colors.$light;
    }
}

.icon_button_container[data-isdark="true"] {
    border: 1px solid colors.$dark;
    color: colors.$light;
    background-color: colors.$dark;
   
}

.icon_button_container[data-haslabel="true"] {
    @include layout.flexbox($direction: row, $align: center, $justify: center, $gap: sizes.$xxs);
    cursor: pointer;
    font-size: map-get($map: sizes.$font_size, $key: 'md' );
    position: relative;
    padding: 0;
    border:none;
    background-color: transparent;
    &:hover {
        color: inherit;
        border: none;
        background-color: transparent;
    }
    label {
        margin: 0;
        color: inherit !important;
        font-weight: 400;
        cursor: pointer;
    }
}


.icon_button_container:disabled {
    border: 1px solid colors.$lightgrey;
    color: colors.$lightgrey;
    background-color: transparent;
    cursor: default;
}

.icon_container {
    @include layout.flexbox($direction: row, $align: center, $justify: center);
    position: 'relative';
    background-color: transparent;
    font-weight: 500;
   
    line-height: 1;
    position: relative;
    font-size: 12px;
   
}

// .icon_button_container:disabled {
//     border: 1px solid colors.$lightgrey;
//     color: colors.$lightgrey;
//     background-color: transparent;
//     cursor: default;
// }