@use "@repo/styles/constants";

.nav_container_underline {
  @include constants.flexbox(
    $direction: row,
    $align: flex-end,
    $justify: space-between
  );
  width: 100%;
  position: relative;
  box-sizing: border-box;
  padding: map-get($map: constants.$padding, $key: "md");
  padding-top: 0;
  padding-bottom: 0;
}

.site_navigation_container {
  @include constants.flexbox(
    $direction: row,
    $align: flex-end,
    $justify: flex-start
  );
  width: auto;
  position: relative;
  z-index: 2;
  width: 100%;
  left: 0;
  height: 36px;
  padding-bottom: 0;
  overflow-x: auto;
}

.navigation_element_container {
  @include constants.flexbox(
    $direction: column,
    $align: center,
    $justify: space-between,
    $gap: 0
  );
  background-color: transparent;
  cursor: pointer;
  color: constants.$grey_shaded;
  font-weight: 500;
  transition:
    border-bottom 0.2 ease,
    color 0.2 ease;
  // border: .5px solid constants.$grey;
  border: none;
  border-radius: map-get($map: constants.$border_radius, $key: "sm");
  &:hover {
    background-color: constants.$light;
  }
  .title_container {
    padding: map-get($map: constants.$padding, $key: "xs");
  }
}

.navigation_element_container[data-isactive="true"] {
  background-color: constants.$primary;
  color: constants.$light;
  // border: .5px solid constants.$secondary;
}
