.pagination-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    /* position: relative; */
    margin-block-end: 0;
    margin-block-start: 0;
    padding-left: 0;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    bottom: 0;
    
}

.page-link {
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    font-family: Bebas-Neue;
    
    transition: color .4s ease, background-color .4s ease;
    text-align: center;
    vertical-align: baseline;

}

.page-link:hover {
    text-decoration: underline;
}

.page-link-active {
    text-decoration: underline;
}

.lazy-image {
    width: 100%;
    height: auto;
    background-size: cover;
  }


