@use "@repo/styles/constants";
@use "sass:map";

@import "../../Task.module.scss";

.document_container {
  @include constants.flexbox(
    $direction: row,
    $justify: space-between,
    $align: center
  );
}

.document_title_container {
  @include constants.flexbox(
    $direction: row,
    $justify: flex-start,
    $align: center
  );
}

.document_content {
  @include constants.flexbox(
    $direction: row,
    $justify: space-between,
    $align: flex-start
  );
}

.create_document_container {
  @include constants.flexbox(
    $direction: column,
    $justify: center,
    $align: flex-start,
    $gap: constants.$xs
  );
  background-color: constants.$lightest;
  padding: map.get(constants.$padding, "md");
  height: 100%;
}
