@use '@repo/styles/constants';

.surcharge_container {
    background-color: constants.$lightest;
}

.surcharge_content {
    @include constants.flexbox(
        $direction: row,
        $justify: space-between,
        $align: center
    );
}
