@use '@repo/styles/constants';

.create_button {
    border: 2px dotted constants.$primary;
    color: constants.$primary;
    padding: map-get($map: constants.$padding, $key: 'sm' );
    width: 100%;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.4s ease, color 0.4s ease, border 0.4s ease;
    font-size: map-get($map: constants.$font_size, $key: 'md' );
    font-family: 'Geist';
    font-weight: 500;
    position: relative;
    &:hover{
        background-color: constants.$primary;
        color: white;
        border: 2px solid constants.$primary;
    }
    &:disabled {
        background-color: constants.$light;
        color: constants.$grey;
        border: 2px dotted constants.$grey;
        cursor: not-allowed;
    }
}

.create_button[data-size="medium"] {
    padding: map-get($map: constants.$padding, $key: 'md' );
    font-size: map-get($map: constants.$font_size, $key: 'lg' );
}

.create_button_content {
    @include constants.flexbox($direction: row, $align: center, $justify: center, $gap: constants.$md);
    width: 100%;
    height: 100%;
    position: relative;
}