@use '@styles/colors';
@use '@styles/layout';
@use '@styles/sizes';
@use '@styles/buttons';

.create_document_container {
    @include layout.flexbox($direction: column, $justify: center, $align: flex-start, $gap: sizes.$xs);
    background-color: colors.$lightest;
    padding: map-get($map: sizes.$padding, $key: 'md' );
    height: 100%;
};