@use "@repo/styles/constants";
@use "sass:map";

.create_worker_container {
  @include constants.flexbox(
    $direction: column,
    $justify: space-between,
    $align: stretch
  );
  padding: map.get(constants.$padding, "md");
  width: 100%;
  height: 100%;
}
