
@use '@repo/styles/constants';

.infobox_container {
    font-family: 'Open Sans',;
    padding: map-get($map: constants.$padding, $key: 'sm' );
    margin-top: constants.$md;
    font-size: map-get($map: constants.$font_size, $key: 'sm' ) ; 
    background-color: lightgreen;
    border-radius: map-get($map: constants.$border_radius, $key: 'sm' );
}

.infobox_icon {
    margin-right: constants.$sm;
    display: inline;
}