@use "@repo/styles/constants";

.person_display_container {
  @include constants.flexbox(
    $direction: row,
    $justify: flex-start,
    $align: center,
    $gap: constants.$xxs
  );
  border: none;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    background-color: constants.$light;
  }
}

.person_interface_container {
  @include constants.flexbox(
    $direction: column,
    $justify: flex-start,
    $align: stretch,
    $gap: constants.$xs
  );
}

.display_person_interface_container {
  @include constants.flexbox(
    $direction: row,
    $justify: space-between,
    $align: center
  );
  width: 100%;
  border: none;
  border-radius: map-get($map: constants.$border_radius, $key: "xs");
  padding: map-get($map: constants.$padding, $key: "xs");
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.2s ease;
}

.display_person_interface_container[data-isselected="true"] {
  background-color: constants.$primary_tinted;
  color: constants.$dark;
  &:hover {
    background-color: constants.$primary_tinted;
    // color: constants.$white;
  }
}

.display_person_interface_container[data-isselected="false"] {
  background-color: constants.$lightest;
  &:hover {
    background-color: constants.$primary_tinted;
  }
}

.display_person_interface_container {
  &:disabled {
    background-color: transparent;
    color: constants.$grey;
    &:hover {
      background-color: transparent;
    }
  }
}

.display_person_interface_container_pers_data {
  @include constants.flexbox(
    $direction: row,
    $justify: flex-start,
    $align: center,
    $gap: constants.$xs
  );
  font-weight: 600;
  width: 100%;
}

.display_person_interface_image_container {
  height: 24px;
  width: 24px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  background-color: constants.$grey;
}

.display_person_interface_delete_button {
  height: 18px;
  width: 18px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  background-color: constants.$grey;
}
