@use "@repo/styles/constants";

.elements_container {
  height: 100%;
  position: relative;
}

.filter_container {
  width: 100%;
  top: 0;
  left: 0;
  margin-bottom: constants.$sm;
}

.elements_interface_container {
  @include constants.flexbox(
    $direction: column,
    $justify: flex-start,
    $align: stretch,
    $gap: constants.$xs
  );
  overflow: auto;
}

.list_element_container {
  @include constants.flexbox(
    $direction: row,
    $align: center,
    $justify: flex-start,
    $gap: constants.$md
  );
  cursor: pointer;
  flex: 1;
  padding: map-get($map: constants.$padding, $key: "md");
  background-color: constants.$white;
  &:hover {
    background-color: constants.$grey_tinted;
  }
  &:disabled {
    cursor: default;
    &:hover {
      background-color: constants.$white;
    }
  }
}

.list_element_container[data-selected="true"] {
  background-color: constants.$grey_tinted;
}
