@use "@repo/styles/constants";

.add_service_create_service_container {
  @include constants.flexbox(
    $direction: column,
    $justify: space-between,
    $align: stretch
  );
  width: 100%;
}

.add_service_main_inputs_container {
  @include constants.flexbox(
    $direction: row,
    $justify: space-between,
    $align: flex-start
  );
  width: 100%;
}

.add_service_inputs_container {
  @include constants.flexbox(
    $direction: column,
    $justify: space-between,
    $align: stretch,
    $gap: 0
  );
  flex: 1 1 50%;
  min-width: 300px;
}

.add_service_create_service_button {
  @include constants.flexbox(
    $direction: row,
    $align: center,
    $justify: space-between,
    $gap: constants.$xs
  );
  white-space: nowrap;
}

.add_service_ticket_container {
  @include constants.flexbox(
    $direction: column,
    $align: flex-start,
    $justify: space-between,
    $gap: constants.$xs
  );
}

.add_service_property_container {
  @include constants.flexbox(
    $direction: column,
    $align: flex-start,
    $justify: space-between,
    $gap: constants.$xs
  );
}

.add_service_worker_container {
  @include constants.flexbox(
    $direction: column,
    $align: stretch,
    $justify: space-between,
    $gap: constants.$xxs
  );
}

.add_service_worker_display_container {
  @include constants.flexbox(
    $direction: row,
    $align: center,
    $justify: space-between,
    $gap: constants.$xs
  );
  width: 100%;
}
