@use '@repo/styles/constants';

.image_container {
    // @include constants.flexbox($direction: row, $align: center, $gap: constants.$sm, $wrap: wrap );
    // padding: map-get($map: constants.$padding, $key: 'xs' );
    @include constants.flexbox($direction: row, $align: center, $justify: space-between, $gap: constants.$xs, $wrap: wrap );
    background-color: constants.$light;
    border: 1px solid constants.$grey;
    width: auto;
};

.image_icons {
    @include constants.flexbox($direction: column, $justify: center, $align: center, $gap: constants.$xs);
    padding: map-get($map: constants.$padding, $key: 'xs' );
}

