@use '@styles/layout';
@use '@styles/sizes';

.create_task_container {
    @include layout.flexbox($direction: column, $justify: space-between, $align: stretch);
    width: 100%;
    height: 100%;
};

.main_inputs_container {
    @include layout.flexbox($direction: row, $justify: space-between, $align: flex-start);
    width: 100%;
};

.inputs_container {
    @include layout.flexbox($direction: column, $justify: space-between, $align: stretch, $gap: 0);
    flex: 1 1 50%;
    min-width: 300px;
};

.create_task_button {
    @include layout.flexbox($direction: row, $align: center, $justify: space-between, $gap: sizes.$xs);
    white-space: nowrap;
};