@use "@repo/styles/constants";
@use "sass:map";

.create_surcharge_container {
  @include constants.flexbox(
    $direction: column,
    $justify: space-between,
    $align: stretch,
    $gap: constants.$xs
  );
}

.day_select_container {
  @include constants.flexbox(
    $direction: row,
    $justify: space-between,
    $align: center
  );
  width: 100%;
  border: none;
  border-radius: map.get(constants.$border_radius, "sm");
  cursor: pointer;
  transition: background-color 0.2s ease;
  padding: map.get(constants.$padding, "sm");
}

.day_select_container[data-isselected="true"] {
  background-color: constants.$green_tinted;
  color: constants.$green_shaded;
  &:hover {
    background-color: constants.$green;
    // color: constants.$white;
  }
}

.day_select_container[data-isselected="false"] {
  background-color: constants.$lightest;
  &:hover {
    background-color: constants.$light;
  }
}
