@use '@repo/styles/constants';
@use '../fonts/fonts.scss';

h1 {
  font-family: 'Geist', sans-serif;
  font-weight: 500;
  font-variant: normal;
  letter-spacing: 1px; 
  margin-top: 0;
  margin-bottom: 0;
  text-transform: none;
  line-height: 1;
  font-size:.9rem;
  
}
h2 {
  font-family: Geist;
  font-weight: 500;
  line-height:  100% ;
  font-size: 1rem;
  margin-block-end: 0;
  margin: 0;
  font-size: 1.8rem;
}
h3 {
  font-family: Geist;
  font-weight: 500;
  line-height:  1;
  margin: 0;
  margin-block-end: 0;
  letter-spacing: 0.04rem;
  font-size: map-get($map: constants.$font-size, $key: 'md' );
  margin-bottom: 0;
}
h4 {
  font-family: Geist;
  font-weight: 600;
  font-size:  map-get($map: constants.$font-size, $key: 'xs' );; 
  line-height:  1;
  margin-block-end: 0;
  margin-top: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
}
h5 {
  font-family: Geist;
  font-weight: 500;
  font-size:  .95rem ; 
  line-height:  1 ;
  margin-block-end:  0.45rem  ;
  margin-top: 0;
}
h6 {
  font-family: Geist;
  font-weight: 600;
  font-size: .6rem;
  line-height:  1;
  color:  inherit ; 
  margin-block-end:  0.1em  ;
  margin-top: 0;
  letter-spacing: 0.02em;
  min-height: 0;
}
p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: .2px;
  line-height:  1;
  color: inherit;
  margin-bottom: 0;
  margin-block-start: 0;
  margin: 0;
  font-size: map-get($map: constants.$font-size, $key: 'md' );
  text-wrap: wrap;
 }
a {
font-family: inherit;
text-decoration: underline;
font-size: inherit;
color: constants.$primary;

font-size: inherit;
}

a.linkStyle {
font-family: 'Open Sans', sans-serif;
text-decoration: underline;
transition: color 0.2s ease;
display: inline;
width: auto;
font-size: .875rem;
margin-bottom: 0.4rem;
}
a.linkStyle:hover {
color: #D04D14;
}

.blogtext a {
  color: #D04D14 !important;
  text-decoration: underline !important;
}
code {
  font-size:  100% ;
}
button {
  font-family: 'Geist'
}

li {
  margin-top: .3rem;
  margin-bottom: .3rem;
  font-family: 'Open Sans', sans-serif;
  font-size: .85rem;
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}