@use '@repo/styles/colors';
@use '@repo/styles/layout';
@use '@repo/styles/sizes';

.pageheader_content {
    box-shadow: none;
    width: 100%;
}

.pageheader_content_container {
    @include layout.flexbox($direction: row, $align: center, $justify: space-between, $gap: sizes.$md );
    height: auto;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding: map-get($map: sizes.$padding, $key: 'md' );
    padding-top: 36px;
    padding-bottom: 36px;
    background-color: colors.$white;
    overflow: hidden;
}

.pageheader_content_container[data-scroll="true"] {
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid colors.$grey;
}

.pageheader_scroll_content {
    box-shadow: none;
    width: 100%;
    background-color: colors.$white;
}

.pageheader_scroll_content_container {
    @include layout.flexbox($direction: row, $align: center, $justify: space-between, $gap: sizes.$md );
    height: auto;
    padding: map-get($map: sizes.$padding, $key: 'md' );
    border-bottom: 1px solid colors.$grey;
    height: 42px;
}

.pageheader_scroll_navigation_container {
    @include layout.flexbox($direction: row, $align: flex-end, $justify: space-between, $gap: sizes.$md );
    // padding: map-get($map: sizes.$padding, $key: 'md' );
    padding-bottom: 0;
    padding-top: 0;
    height: 38px;
    border-bottom: 1px solid colors.$grey;
}

.pageheader_scroll_container {
    background-color: colors.$white;;
    position: fixed;
    top: 0;
    z-index: 4;
}

.pageheader_button_container {
    @include layout.flexbox($direction: row, $align: flex-end, $justify: space-between, $gap: sizes.$sm );
}

.pageheader_createbutton {
    @include layout.flexbox($direction: row, $align: center, $justify: space-between, $gap: sizes.$xs);
    white-space: nowrap;
}

.add_icon {
    display: inline-block;
    position: relative;
    height: 12px;
    svg{
        top: 50%;
        left: 50%;
        position: relative;
        transform: translate(-50%,-50%);
    }
}

.week_container {
    @include layout.flexbox($align: center, $gap: sizes.$xs);
    color: colors.$dark;
}