@use '@repo/styles/colors';
@use '@repo/styles/layout';
@use '@repo/styles/sizes';

.main_container {
    @include layout.flexbox($direction: column, $align: flex-end, $justify: space-between, $gap: 0);
    width: 100%;
    position: relative;
    box-sizing: border-box;
    background-color: colors.$white;
};

.pageheader_container {
    @include layout.flexbox($direction: row, $align: center, $justify: space-between);
    width: 100%;
    position: relative;
    height: 42px;
    box-sizing: border-box;
    border-bottom: 1px solid colors.$grey;
    padding: map-get($map: sizes.$padding, $key: 'md' );
};

.nav_container {
    @include layout.flexbox($direction: row, $align: center, $justify: space-between);
    width: 100%;
    position: relative;
    box-sizing: border-box;
    border-radius: map-get($map: sizes.$border_radius, $key: 'md' );
    background-color: colors.$light;
    border: .6px solid colors.$grey;
    padding: map-get($map: sizes.$padding, $key: 'md' );
};

.nav_container_underline {
    @include layout.flexbox($direction: row, $align: flex-end, $justify: space-between);
    width: 100%;
    padding-bottom: 0;
    position: relative;
    box-sizing: border-box;
    border-bottom: 1px solid colors.$grey;
    padding: map-get($map: sizes.$padding, $key: 'md' );
    padding-bottom: 0;
};

.pageheader_container[data-haspagenav='true'] {
    top: 0;
}

.pageheader_content_container {
    @include layout.flexbox($direction: row, $align: flex-end, $justify: space-between, $gap: sizes.$md );
    width: 100%;
    position: relative;
    box-sizing: border-box;
    border-bottom: 1px solid colors.$grey;
    padding: map-get($map: sizes.$padding, $key: 'md' );
    background-color: colors.$white;
}

.pageheader_button_container {
    @include layout.flexbox($direction: row, $align: flex-end, $justify: space-between, $gap: sizes.$sm );
}

.pageheader_createbutton {
    @include layout.flexbox($direction: row, $align: center, $justify: space-between, $gap: sizes.$xs);
    white-space: nowrap;
}

.add_icon {
    display: inline-block;
    position: relative;
    height: 12px;
    svg{
        top: 50%;
        left: 50%;
        position: relative;
        transform: translate(-50%,-50%);
    }
}

.pageheader_right_container {
    @include layout.flexbox($direction: row, $align: center, $justify: flex-end, $gap: sizes.$md );
}   

.week_container {
    @include layout.flexbox($align: center, $gap: sizes.$xs);
    color: colors.$dark;
}