@use '@repo/styles/colors';
@use '@repo/styles/layout';
@use '@repo/styles/sizes';

.toggle_content {
    display: flex; 
    flex-direction: column;
    flex: 0 1 50%; 
}

.toggle_content[data-labelBefore ='true'] {
    flex-direction: row;
    position: relative; 
	width: 50px;
	height: 28px;
	border-radius: 15px;
	overflow: hidden;
	cursor: pointer
}

.toggle_container {
    transform: scale(.8);
    border: 2px solid colors.$primary 

}

.toggle_container[data-disabled='true'] {
    border: 2px solid colors.$grey 
}

.toggle_container_background {
    position: relative;
	width: 100%;
	height: 100%;
    opacity: 0; 
	transition: opacity 0.4s ease;
    background-color: colors.$primary;
}

.toggle_container_background[data-disabled='true'] {
    background-color: colors.$grey; 
}

.toggle_container_background[data-toggleState='true'] {
    opacity: 1; 
}

.toggle_container_circle {
    border-radius: 50%;
	width: 17px;
	height: 17px;
	top: 3px;
	left: 4px;
	position: absolute;
    background-color: colors.$primary;
	transition: transform 0.4s ease, background-color 0.4s ease;
    transform: translateX(0);
}

.toggle_container_circle[data-disabled='true'] {
    background-color: colors.$grey;
}

.toggle_container_circle[data-toggleState='true'] {
    background-color: colors.$white;
    transform: translateX(22)
}

.error_message {
	color: red;
	font-weight: 600;
	font-size: 14px;
	font-family: Montserrat, sans-serif;
};

.warning_message {
	color: orange;
	font-weight: 600;
	font-size: 14px;
	font-family: Montserrat, sans-serif;
};

.color_picker_picker {
    position: relative;
    input {
        min-width:200px;
        width: 200px !important;
    }
}
  
.color_picker_swatch {
    width: 28px;
    height: 28px;
    border-radius: 8px;
    border: 3px solid #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.color_picker_popover {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    right: auto;
    z-index: 3;
    border-radius: 9px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    background-color: white;
}

.color_picker_popover[data-align_right = "true"] {
    left: auto;
    right: 0;
}

.form_horizontal_container {
	@include layout.flexbox($direction: row, $align: center, $justify: space-between, $gap: sizes.$md);

}

.form_divider {
	width: 100%;
	height: 1px;
	background-color: colors.$grey;
	margin: sizes.$xs 0;
}

.text_editor_preview_text {
    width: 100%;           /* Adjust the width as needed */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    height: 20px;
}

