$xxs: 4px;
$xs: 8px;
$sm: 12px;
$md: 14px;
$lg: 18px;
$xl: 24px;
$xxl: 36px;

$padding: (
  "xs": 2px 4px,
  "sm": 4px 8px,
  "md": 6px 12px,
  "lg": 9px 18px,
  "xl": 12px 24px,
  "site": 18px 18px,
);

$font_size: (
  "xs": 9px,
  "sm": 10px,
  "md": 12px,
  "lg": 15px,
  "xl": 18px,
  "xxl": 24px,
);

$border_radius: (
  "xs": 3px,
  "sm": 6px,
  "md": 12px,
  "lg": 18px,
);
