@use '@repo/styles/constants';

.time_display_container {
    @include constants.flexbox(
        $direction: row,
        $wrap: no-wrap,
        $align: center,
        $justify: flex-start,
        $gap: constants.$xxs
    );
    cursor: pointer;
    font-size: map-get($map: constants.$font-size, $key: 'xs');
    background-color: transparent;
    padding: map-get($map: constants.$padding, $key: 'sm');
    border-radius: map-get($map: constants.$border_radius, $key: 'sm');
    transition: background-color 0.2s ease;
}

.time_display_container:hover {
    text-decoration: underline;
    // color: white ;
}

.time_display_container[data-interval='true'] {
    color: constants.$primary !important;
    border: 1px solid constants.$primary;
    &:hover {
        background-color: constants.$primary_tinted;
    }
}

.time_display_container[data-interval='false'] {
    color: constants.$grey !important;
    border: 1px solid constants.$grey;
    &:hover {
        background-color: constants.$grey_tinted;
    }
}

.no_interval {
    color: constants.$white !important;
}

.interval {
    color: constants.$white !important;
}
