@use '@styles/colors';
@use '@styles/layout';
@use '@styles/sizes';
@use '@styles/buttons';

.task_indicator_container {
    @include layout.flexbox($direction: column, $justify: space-between, $align: center);
    border-right: 1px solid colors.$grey;
    // padding: map-get($map: sizes.$padding, $key: 'sm' );
    width: 10px;
    height: 100%;
};

.task_indicator_container[data-state="completed"] {
    background-color: colors.$green;
};

.task_indicator_container[data-state="executed"] {
    background-color: colors.$violet;
};

.task_indicator_container[data-state="created"] {
    background-color: colors.$blue;
};

.task_indicator_container[data-state="assigned"] {
    background-color: colors.$yellow;
};

.task_indicator_container[data-state="archived"] {
    background-color: colors.$grey;
};