@use '@styles/colors';
@use '@styles/layout';
@use '@styles/sizes';
@use '@styles/buttons';

.create_record_content {
    @include layout.flexbox($direction: column, $justify: flex-start, $align: stretch, $gap: sizes.$lg);
    height: 100%;
    overflow: hidden;
}

.create_record_switch_buttons {
    @include layout.flexbox($direction: column, $justify: flex-start, $align: stretch, $gap: sizes.$lg);
}

.create_record_form_container {
    flex: 1;
    overflow: auto;
}

.record_settings_container {
    @include layout.flexbox($direction: column, $justify: space-between, $align: stretch);
    width: 100%;
   
}

.record_settings_info {
    @include layout.flexbox($direction: row, $justify: space-between, $align: center);
}