@use "@repo/styles/constants";

.error_display_container {
  // min-height: 24px;
  // margin-top: constants.$xs;
  // margin-bottom: constants.$xs;
  vertical-align: middle;
}

.error_display_message {
  color: #cc0033;
  font-size: map-get($map: constants.$font_size, $key: "xs");
  font-weight: 500;
  display: list-item;
  font-family: Geist, sans-serif;
}
