@use '@styles/sizes';
@use '@styles/colors';

form {
      
      label.error {
        color: #cc0033;
      }
      
      .error_message {
        color: #cc0033;
        display: inline-block;
        font-size: map-get($map: sizes.$font_size, $key: 'md' );
        line-height: 15px;
        margin-top: sizes.$xs;
      }
      
      .input-group .error_message {
        display: none;
      }
      
      /* Error Styling */
      .error .error_message {
        display: inline-block;
      }
    
    input {
        padding: map-get($map: sizes.$padding, $key: 'sm' );
        border: 1px solid colors.$darkgrey;
        transition: border .4s ease;
        outline: 0;
        font-size: map-get($map: sizes.$font_size, $key: 'md' );
        border: 1px solid colors.$lightgrey;
        position: relative;
        box-sizing: border-box;
        outline: none;
        max-width: 360px;
        &:focus {
            border: 1px solid colors.$secondary;
        }
    
        &:focus-visible {
            border: 1px solid colors.$secondary;
        }
    
        &:target {
            border: 1px solid colors.$secondary;
        }
    }
    input.error {
        // background-color: #fce4e4;
        border: 1px solid #cc0033;
        outline: none;
      }
}

