@use '@styles/layout';
@use '@styles/colors';
@use '@styles/sizes';

.task_overview {
    @include layout.flexbox($direction: column, $justify: flex-start, $align: stretch);
    background-color: colors.$lightest;
}

.tasks_container {
    @include layout.flexbox($direction: column, $justify: space-between, $align: stretch, $gap: 0);
    overflow: auto;
    .task_subheadline {
        @include layout.flexbox($direction: row, $justify: flex-start, $align: center);
        width: 120px;
        color: colors.$grey;
    }
}

.siteheader_content {
    @include layout.flexbox($direction: row, $justify: space-between, $align: center);
}