@use '@styles/colors';
@use '@styles/layout';
@use '@styles/sizes';
@use '@styles/buttons';

@import '../../Task.module.scss';

.document_container {
    @include layout.flexbox($direction: row, $justify: space-between, $align: center);
};

.document_title_container {
    @include layout.flexbox($direction: row, $justify: flex-start, $align: center);
};

.document_content {
    @include layout.flexbox($direction: row, $justify: space-between, $align: flex-start);
};

.create_document_container {
    @include layout.flexbox($direction: column, $justify: center, $align: flex-start, $gap: sizes.$xs);
    background-color: colors.$lightest;
    padding: map-get($map: sizes.$padding, $key: 'md' );
    height: 100%;
};



