@use '@repo/styles/colors';
@use '@repo/styles/layout';
@use '@repo/styles/sizes';

@mixin full_button_mixin($size: 'sm', $color: 'primary') {
    @include layout.flexbox($direction: row, $align: center, $justify: center, $gap: sizes.$xxs);
    font-family: Roboto, sans-serif;
    cursor: pointer;
    transition: background-color .2s ease, color .2s ease;
    border: none;
    font-weight: 500;
    &:disabled {
        background-color: transparent !important;
        color: colors.$grey;
        cursor: not-allowed;
        &:hover {
            background-color: colors.$lightgrey !important;
            color: colors.$grey !important;
        }
    }
    @if($size == 'sm') {
        padding: map-get(sizes.$padding, 'xs');
        font-size: map-get(sizes.$font_size, 'sm');
    }
    @if($size == 'md') {
        padding: map-get(sizes.$padding, 'sm');
        font-size: map-get(sizes.$font_size, 'sm');
    }
    @if($size == 'lg') {
        padding: map-get(sizes.$padding, 'lg');
        font-size: map-get(sizes.$font_size, 'md');
    }
    @if($color == 'primary') {
        background-color: colors.$primary;
        color: colors.$white;
        &:hover {
            background-color: colors.$primary_shaded;
            color: colors.$white;
        }
    }
    @if($color == 'secondary') {
        background-color: colors.$secondary;
        color: colors.$white;
        &:hover {
            background-color: colors.$secondary_shaded;
            color: colors.$white;
        }
    }
    @if($color == 'light') {
        background-color: transparent;
        color: colors.$dark;
        &:hover {
            background-color: colors.$light;
        }
    }
}


.full_button {
    @include layout.flexbox($direction: row, $align: center, $justify: center, $gap: sizes.$xxs);
    font-family: Roboto, sans-serif;
    cursor: pointer;
    transition: background-color .2s ease, color .2s ease;
    border: none;
    font-weight: 400;
    display: inline;
    line-break: none;
    white-space: nowrap;
    letter-spacing: 0.5px;
    &:disabled {
        background-color: transparent !important;
        color: colors.$grey;
        cursor: not-allowed;
        &:hover {
            background-color: colors.$lightgrey !important;
            color: colors.$grey !important;
        }
    }
};

.full_button.sm {
    padding: map-get(sizes.$padding, 'xs');
    font-size: map-get(sizes.$font_size, 'sm');
};

.full_button.md {
    padding: map-get(sizes.$padding, 'sm');
    font-size: map-get(sizes.$font_size, 'sm');
};

.full_button.lg {
    padding: map-get(sizes.$padding, 'lg');
    font-size: map-get(sizes.$font_size, 'md');
};

.full_button.primary {
    background-color: colors.$primary;;
    color: colors.$white;
    &:hover {
        background-color: colors.$primary_shaded;
        color: colors.$white;
    }
};

.full_button.secondary {
    background-color: colors.$secondary;
    color: colors.$white;
    &:hover {
        background-color: colors.$secondary_shaded;
        color: colors.$white;
    }
};

.full_button.light {
    background-color: transparent;
    color: colors.$dark;
    &:hover {
        background-color: colors.$light;
    }
};

.full_button.dark {
    background-color: colors.$dark;
    color: colors.$white;
    &:hover {
        background-color: colors.$dark;
    }
};

.full_button:disabled {
    background-color: colors.$light !important;
    color: colors.$grey;
    cursor: default;
    &:hover {
        background-color: colors.$light !important;
        color: colors.$grey !important;
    }
};

.border_button {
    @include layout.flexbox($direction: row, $align: center, $justify: center, $gap: sizes.$xxs);
    cursor: pointer;
    transition: background-color .2s ease, color .2s ease;
    border: none;
    font-weight: 500;
    background-color: transparent;
    &:disabled {
        background-color: colors.$light !important;
        border: 1px solid colors.$grey;
        color: colors.$grey;
        cursor: not-allowed;
        &:hover {
            background-color: colors.$light !important;
            color: colors.$grey !important;
        }
    }
};

.border_button.sm {
    padding: map-get(sizes.$padding, 'xs');
    font-size: map-get(sizes.$font_size, 'xs');
};

.border_button.md {
    padding: map-get(sizes.$padding, 'sm');
    font-size: map-get(sizes.$font_size, 'sm');
};

.border_button.lg {
    padding: map-get(sizes.$padding, 'lg');
    font-size: map-get(sizes.$font_size, 'md');
};

.border_button.primary {
    border: 1px solid colors.$primary;
    color: colors.$primary;
    &:hover {
        background-color: colors.$primary;
        color: colors.$white;
    }
};

.border_button.secondary {
    border: 1px solid colors.$secondary;
    color: colors.$white;
    &:hover {
        background-color: colors.$secondary;
        color: colors.$white;
    }
};

.border_button.light {
    border: 1px solid colors.$lightgrey;
    color: colors.$lightgrey;
    &:hover {
        background-color: colors.$lightgrey;
        color: colors.$dark;
    }
};

.border_button.dark {
    border: 1px solid colors.$dark;
    color: colors.$dark;
    &:hover {
        background-color: colors.$light;
        color: colors.$dark;
    }
};

.border_button.red {
    border: 1px solid colors.$red;
    color: colors.$red;
    &:hover {
        background-color: colors.$red;
        color: colors.$white;
    }
};


.border_button:disabled {
    border: 1px solid colors.$grey !important;
    color: colors.$grey;
    cursor: default;
    &:hover {
        border: 1px solid colors.$grey !important;
        color: colors.$grey;
    }
}


.button_container {
    @include layout.flexbox($direction: row, $align: center, $justify: flex-start, $gap: sizes.$xs );
}


