@forward './layout/typography.scss';
@forward './layout/buttons.scss';
@forward './layout/layout.scss';
@forward './layout/inputs.scss';
@use 'constants.scss' as *;

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

.a-ce {
    align-items: center;
}

.a-st {
    align-items: stretch;
}

.j-ce {
    justify-content: center;
}

.j-sb {
    justify-content: space-between;
}

.ai-fs {
    align-items: flex-start;
}

.c-pointer {
    cursor: pointer;
}

.gap-md {
    gap: $md
}

