@forward "./layout/typography.scss";
@forward "./layout/buttons.scss";
@forward "./layout/layout.scss";
@forward "./layout/inputs.scss";
@use "constants.scss" as *;

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.a-ce {
  align-items: center;
}

.a-st {
  align-items: stretch;
}

.a-fs {
  align-items: flex-start;
}

.j-st {
  justify-content: flex-start;
}

.j-ce {
  justify-content: center;
}

.j-sb {
  justify-content: space-between;
}

.j-fe {
  justify-content: flex-end;
}

.c-pointer {
  cursor: pointer;
}

.gap-xs {
  gap: $xs;
}

.gap-sm {
  gap: $sm;
}

.gap-md {
  gap: $md;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.ta-ce {
  text-align: center;
}
