$xxs: 4px;
$xs: 8px;
$sm: 12px;
$md: 14px;
$lg: 18px;
$xl: 24px;
$xxl: 36px;

$padding: (
    'xxs': 2px 4px,
    'xs': 4px 8px,
    'sm': 6px 12px,
    'md': 9px 18px,
    'lg': 12px 24px,
    'xl': 18px 42px,
    'site': 18px 18px
);

$font_size: (   
    'xxs': 7px,
    'xs': 9px,
    'sm': 11px,
    'md': 13px,
    'lg': 15px,
    'xl': 18px,
    'xxl': 24px,
);

$border_radius: (
    'xs': 3px,
    'sm': 6px,
    'md': 12px,
    'lg': 18px,
);