@use '@repo/styles/constants';

@import '../../Tally.module.scss';

.entry_container {
    @include constants.flexbox($direction: column, $justify: space-between, $align: stretch, $gap: constants.$xs);
    margin-top: constants.$lg;
    p {
        line-height: 1.4;
    }
};

.entry_header {
    @include constants.flexbox($direction: row, $justify: space-between, $align: flex-end);
    padding-bottom: constants.$xs;
    border-bottom: 1px solid constants.$grey
};

 .entry_content {
    @include constants.flexbox($direction: row, $justify: space-between, $align: center);
};

.entry_content_icon {
    width: 24px;
};

.entry_content_text {
    flex: 1 1 calc(100% - 24px);
    border-radius: map-get($map: constants.$border_radius, $key: 'sm' );
};

.create_entry_container {
    @include constants.flexbox($direction: column, $justify: center, $align: flex-start, $gap: constants.$xs);
    background-color: constants.$lightest;
    padding: map-get($map: constants.$padding, $key: 'md' );
    height: 100%;
};

