@use '@styles/colors';
@use '@styles/layout';
@use '@styles/sizes';

@import '../../Task.module.scss';


.task_state_container {
    @include layout.flexbox($direction: row, $justify: flex-start, $align: center);
    font-weight: 500;
    font-size: .7rem;
}

.task_state_element {
    padding: map-get($map: sizes.$padding, $key: 'xs');
    border-radius: map-get($map: sizes.$border_radius, $key: 'md');
    background-color: transparent;
    border: 1px solid colors.$primary;
    color: colors.$primary;
};

.task_state_element[data-state="created"] {
    background-color: colors.$yellow_light;
    border: 1px solid colors.$yellow;
    color: colors.$yellow;
};

.task_state_element[data-state="completed"] {
    background-color: colors.$green_light;
    border: 1px solid colors.$green;
    color: colors.$green;
};

.task_state_element[data-state="excecuted"] {
    background-color: colors.$green_light;
    border: 1px solid colors.$green;
    color: colors.$green;
};

.task_state_element[data-state="assigned"] {
    background-color: colors.$yellow_light;
    border: 1px solid colors.$yellow;
    color: colors.$yellow;
};


