@use "@repo/styles/constants";

@import "../../Task.module.scss";

.object_container {
  @include constants.flexbox(
    $direction: row,
    $justify: flex-start,
    $align: center
  );
  font-weight: 500;
  font-size: 0.7rem;
  p[data-is-overdue="true"] {
    color: constants.$red;
    font-weight: 500;
  }
}
