@use '@repo/styles/constants';

.login_container {
    @include constants.flexbox($direction: row, $align: stretch, $gap: 0 );
    width: 100vh;
    height: 100vh;
}

.login_logo_container {
    position: absolute;
    top: 30px;
    left: 30px;
}

.login_divider {
    height: 1px;
    width: 60px;
    margin-top: 24px;
    margin-bottom: 24px;
    background-color: constants.$white;
}

.login_left_container {
    @include constants.flexbox($direction: column, $align: flex-start, $justify: center, $gap: 0 );
    flex: 1 1 50%;
    background-color: constants.$green;
    color: constants.$white;
    height: 100%;
    padding: map-get($map: constants.$padding, $key: 'lg' );
    border-right: 1px solid constants.$light;
    position: relative;
    box-sizing: border-box;
}

.login_left_content {
    @include constants.flexbox($direction: column, $align: flex-start, $justify: center, $gap: 0 );
    max-width: 300px;
    margin-left: 60px;
}

.login_right_container {
    @include constants.flexbox($direction: column, $align: center, $justify:center, $gap: 30px );
    flex: 1 1 50%;
    height: 100%;
    padding: map-get($map: constants.$padding, $key: 'lg' );
    position: relative;
}

.login_switch_buttons_container {
    height: auto;
    width: 360px;
    position: relative;
    margin-bottom: 72px;
    padding: map-get($map: constants.$padding, $key: 'lg' )
}

.login_form_container {
    @include constants.flexbox($direction:column, $align: flex-start, $justify: flex-start, $gap: 12 );
    flex: 1 1 50%;
    max-width: 300px;
    h2 {
        margin-bottom: constants.$xl;
    }
    button {
        margin-top: constants.$lg;
    }
}

.login_footer {
    @include constants.flexbox($direction: row, $align: center, $justify: space-between, $gap: 0 );
    padding: 30px 30px 10px 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    p {
        color: constants.$light;
    }
}