@use "@repo/styles/constants";

.uppy_upload_container {
  @include constants.flexbox($direction: column, $align: flex-start, $justify: flex-start, $gap: 12px);
  width: 100%;
  position: relative;
  height: fit-content;
  position: relative;
  height: 240px;
  .uppy-content {
    width: 100%;
    position: relative;
    max-height: 480px;
  }
  div[data-uppy-element='dropzone'] {
    width: 100%;
    position: relative;
    text-align: center;
    margin-bottom: 12px;
    p {
      display: none;
      font-size: 0;
    }
  }
  div[data-uppy-element='files-list'] {
    width: 100%;
    position: relative;
    text-align: center;
    margin-bottom: 12px;
    p {
      display: none;
      font-size: 0;
    }
  }
  button[data-uppy-element='upload-button'][data-state='init'] {
    background-color: constants.$grey;
  }
  button[data-uppy-element='upload-button'][data-state='ready'] {
    background-color: constants.$primary;
  }

  button[data-uppy-element='upload-button'][data-state='uploading'] {
    background-color: constants.$yellow;
    cursor: wait;
  }

  button[data-uppy-element='upload-button'][data-state='complete'] {
    background-color: constants.$green;
  }

  button[data-uppy-element='upload-button'][data-state='error'] {
    background-color: constants.$red;
  }
}

.file_upload_container {
  @include constants.flexbox($direction: column, $align: flex-start, $gap: 0);
  width: 100%;
  height: fit-content;
  position: relative;
}

.upload_zone {
  min-height: 300px;
  .upload-widget__root {
    .upload-widget {
      .upload-widget__controls {
        @include constants.flexbox(
          $direction: row,
          $justify: flex-start,
          $align: center,
          $gap: 10px
        );
        .upload-widget__controls__button {
          @extend .full_button !optional;
        }
      }
      .btn {
        @include constants.full_button_mixin("md", "primary");
        line-height: 1;
      }
      .upload-widget__internal {
        .upload-widget__internal__children {
          .upload-widget__main-screen {
            .upload-widget__main-screen__file-list {
              .upload-widget__main-screen__file-list__inner {
                padding: map-get($map: constants.$padding, $key: "md");
              }
            }
            .upload-widget__controls {
              @include constants.flexbox(
                $direction: row,
                $justify: flex-start,
                $align: center,
                $gap: 10px
              );
              .upload-widget__controls__button {
                @extend .full_button !optional;
              }
            }
          }
          label {
            color: constants.$white;
            // padding: map-get($map: constants.$padding, $key: 'md' );
          }
          .upload-widget__image-editor {
            .upload-widget__controls--space {
              @include constants.button_container;
            }
          }
        }
      }
      // .upload-widget__internal__children {
      //     .upload-widget__main-screen{
      //         background-color: red;
      //         .upload-widget__controls{
      //             @include constants.flexbox($direction: row, $justify: flex-start, $align: center, $gap: 10px);
      //             .upload-widget__controls__button {
      //                 @extend .full_button !optional;
      //             }
      //         }
      //     }
      //     label {
      //         color: constants.$white;
      //         padding: map-get($map: constants.$padding, $key: 'md' );
      //     }
      //     .upload-widget__image-editor{
      //         .upload-widget__controls--space {
      //             @include constants.button_container
      //         }
      //     }
      // }
    }
  }
}

.single_image {
  min-height: 180px;
}

.file_preview_container {
  @include constants.flexbox(
    $direction: row,
    $align: center,
    $justify: flex-start,
    $gap: 10px
  );
  width: 100%;
  padding: map-get($map: constants.$padding, $key: "sm");
  background-color: constants.$light;
}
