@use '@styles/colors';
@use '@styles/layout';
@use '@styles/sizes';
@use '@styles/buttons';

.content_element_container {
    margin-bottom: sizes.$sm;
    margin-top: sizes.$sm;
    background-color: colors.$white;
    overflow: hidden
};

.content_element_title {
    position: relative;
    width: 100%;
    flex-basis: 18px;
    background-color: colors.$light;
    border-bottom: 1px solid colors.$grey;
    padding: 6px 12px;
};