@use '@repo/styles/colors';
@use '@repo/styles/layout';
@use '@repo/styles/sizes';
@use '@repo/styles/buttons';

.buttons_container {
    @include layout.flexbox($direction: row, $align: center, $justify: flex-start, $gap: 0);
    // box-shadow: .5px .5px 1px colors.$lightgrey;
    button {
        // border-radius: map-get($map: sizes.$border_radius, $key: 'md' );
        font-size: map-get($map: sizes.$font_size, $key: 'md' );
        background-color: transparent;
        font-weight: 500;
        color: colors.$dark;
        border: 1px solid colors.$grey;
        border-right: none;
        cursor: pointer;
        padding: map-get($map: sizes.$padding, $key: 'sm' );
        transition: color .2s ease, background-color .2s ease;
        &:hover {
            background-color: colors.$light;
            // color: colors.$primary;
        }
    }

    button[data-isactive="true"] {
        background-color: colors.$secondary;
        color: colors.$light;
    }
    button[data-isfirst="true"] {
        border-radius: sizes.$xs 0 0 sizes.$xs;
    }
    button[data-islast="true"] {
        border-right: 1px solid colors.$grey;
        border-radius: 0 sizes.$xs sizes.$xs 0;
    }
    button:disabled {
        background-color: colors.$light;
        color: colors.$grey;
        cursor: not-allowed;
        &:hover {
            background-color: colors.$light;
            color: colors.$grey;
            cursor: not-allowed;
        }
        
    }

}


.buttons_container[data-underline_buttons="true"] {
    @include layout.flexbox($direction: row, $align: center, $justify: flex-start, $gap: sizes.$sm);
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0 !important;
    box-shadow: none !important;
    button {
        @include layout.flexbox($direction: column, $align: center, $justify: space-between, $gap: 0);
        border-bottom: 2px solid transparent;
        border-left: none;
        border-right: none;
        border-top: none;
        background-color: transparent;
        cursor: pointer;
        color: colors.$darkgrey;
        font-weight: 500;
        transition: border-bottom .2 ease, color .2 ease;
        &:hover {
            border-bottom: 2px solid colors.$dark;
            color: colors.$dark;
        }
    }

    button[data-isactive="true"] {
        border-bottom: 2px solid colors.$dark;
        color: colors.$dark;
    }
    button[data-isfirst="true"] {
        border-radius: 0;
    }
    button[data-islast="true"] {
        border-right: none;
        border-radius: 0;
    }
   
    button:disabled {
        color: colors.$grey;
        cursor: not-allowed;
        border-bottom: 2px solid transparent;
        background-color: transparent;
        &:hover {
            color: colors.$grey;
            cursor: not-allowed;
            border-bottom: 2px solid transparent;
            background-color: transparent;
        }
        
    }

}
