@use '@repo/styles/constants';

.staff_records_container {
    @include constants.flexbox(
        $direction: column,
        $justify: space-between,
        $align: flex-start,
        $gap: constants.$sm
    );

    .records_subheadline {
        @include constants.flexbox(
            $direction: row,
            $justify: flex-start,
            $align: center
        );
        width: 120px;
        color: constants.$grey;
    }
}

.staff_siteheader_content {
    @include constants.flexbox(
        $direction: row,
        $justify: space-between,
        $align: center
    );
}
