@use "@repo/styles/constants";

.app_module_field_container {
  @include constants.flexbox(
    $direction: row,
    $align: center,
    $justify: space-between,
    $gap: 0
  );
  background-color: constants.$white;
}
