@use '@styles/colors';
@use '@styles/layout';
@use '@styles/sizes';

.ticket_overview {
    @include layout.flexbox($direction: column, $justify: flex-start, $align: stretch);
    background-color: colors.$lightest;
}

.tickets_container {
    @include layout.flexbox($direction: column, $justify: space-between, $align: stretch, $gap: 0);

    .ticket_subheadline {
        @include layout.flexbox($direction: row, $justify: flex-start, $align: center, $gap: sizes.$xs);
        color: colors.$darkgrey;
    }
}

.siteheader_content {
    @include layout.flexbox($direction: row, $justify: space-between, $align: center);
}

.ticket_subheadline {
    @include layout.flexbox($direction: row, $justify: flex-start, $align: center, $gap: sizes.$xs);
    height: auto;
    .label {
        font-size: map-get($map: sizes.$font_size, $key: 'sm' );
    }
};

.ticket_state_container {
    @include layout.flexbox($direction: row, $justify: center, $align: center, $gap: sizes.$xs);
}

.ticket_ticket_container {
    @include layout.flexbox($direction: row, $justify: flex-start, $align: center, $gap: sizes.$xs);
}

.ticket_task_content {
    @include layout.flexbox($direction: row, $justify: flex-start, $align: center, $gap: sizes.$xs);
}

.ticket_date_container {
    @include layout.flexbox($direction: row, $justify: flex-start, $align: center, $gap: sizes.$xs);
}

.ticket_user_container {
    @include layout.flexbox($direction: row, $justify: flex-start, $align: center, $gap: sizes.$xs);
}

.task_title {
    color: colors.$green;
    text-wrap: wrap;
}