$grey: #cdcdcd;
$darkgrey: #999999;
$lightgrey: #d2d2d2;
$light: #f1f1f3;    
$lightest: #fafafa;

$dark: #333333;
$white: #fff;

$blue: #72bbfb;
$blue_shaded: #284954;
$blue_light: #eaf1f4;

$yellow: #ecdc2b;
$yellow_shaded: #817a33;
$yellow_light: #fffadb;

$red: #D75055;
$red_shaded: #d2383e;
$red_light: #f7dcdd;

$violet: #6941c6;
$violet_shaded: #5331a2;
$violet_light: #e1d9f4;

$green: #5ba27b;
$green_shaded: #2a523c;
$green_light: #c0e5cb;

$primary:  #28B06A;
$primary_shaded: #215e3b;
$primary_light: #c0e5cb;

$secondary: $blue;
$secondary_shaded: $blue_shaded;
$secondary_light: $blue_light;

$tertiary:  $yellow;
$tertiary_shaded: $yellow_shaded;
$tertiary_light: $yellow_light;

@mixin colorgroup($color: 'primary') {
    @if $color == 'primary' {
        background-color: $primary_light;
        color: $primary;
        border: 1px solid $primary;
    }
    @if $color == 'secondary' {
        background-color: $secondary_light;
        color: $secondary;
        border: 1px solid $secondary;
    }
    @if $color == 'tertiary' {
        background-color: $tertiary_light;
        color: $tertiary;
        border: 1px solid $tertiary;
    }
    @if $color == 'violet' {
        background-color: $violet_light;
        color: $violet;
        border: 1px solid $violet;
    }
    @if $color == 'green' {
        background-color: $green_light;
        color: $green;
        border: 1px solid $green;
    }
    @if $color == 'yellow' {
        background-color: $yellow_light;
        color: $yellow;
        border: 1px solid $yellow;
    }
    @if $color == 'blue' {
        background-color: $blue_light;
        color: $blue;
        border: 1px solid $blue;
    }
    @if $color == 'red' {
        background-color: $red_light;
        color: $red;
        border: 1px solid $red;
    }
    @if $color == 'dark' {
        background-color: $light;
        color: $dark;
        border: 1px solid $dark;
    }
    @if $color == 'light' {
        background-color: $light;
        color: $dark;
        border: 1px solid $dark;
    }
    @if $color == 'success' {
        background-color: $green_light;
        color: $green;
        border: 1px solid $green;
    }
    @if $color == 'warning' {
        background-color: $yellow_light;
        color: $yellow_shaded;
        border: 1px solid $yellow_shaded;
    }
    @if $color == 'danger' {
        background-color: $red_light;
        color: $red;
        border: 1px solid $red;
    }
    @if $color == 'info' {
        background-color: $blue_light;
        color: $blue_shaded;
        border: 1px solid $blue_shaded;
    }
    @if $color == 'lightest' {
        background-color: $lightest;
        color: $grey;
        border: 1px solid $grey;
    }
    @if $color == 'grey' {
        background-color: $light;
        color: $grey;
        border: 1px solid $light;
    }

}