@use '@repo/styles/constants';

.image_container {
    @include constants.flexbox($direction: row, $align: center, $gap: 0 );
    padding: map-get($map: constants.$padding, $key: 'sm' );
    background-color: constants.$light;
    border: 1px solid constants.$grey;
    border-radius: map-get($map: constants.$border_radius, $key: 'md' )
};

