@use "@repo/styles/constants";

.state_display_container {
  @include constants.flexbox(
    $direction: row,
    $align: center,
    $justify: center,
    $gap: constants.$xxs
  );
  position: relative;
  overflow: hidden;
  font-family: Geist, sans-serif;
  padding: map-get($map: constants.$padding, $key: "sm");
  width: fit-content;
  font-weight: 500;
  letter-spacing: 1.2px;
  border-radius: map-get($map: constants.$border_radius, $key: "sm");
  border: none;
  text-wrap: nowrap;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: map-get($map: constants.$font_size, $key: "sm");
  max-width: 100%;
}


.state_display_container[data-click] {
  cursor: pointer;
}

@mixin state_display_container_styles {
  background-color: transparent;
  &:hover {
    background-color: constants.$light;
  }
}

.state_display_button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.state_display_container[data-showicon="true"] {
  @include constants.flexbox(
    $direction: row,
    $align: center,
    $justify: center,
    $gap: constants.$xxs
  );
}

@each $key, $color in constants.$color-map {
  .state_display_container[data-color="{$color}"] {
    @include constants.colorgroup($color);
  }
}

.state_display_container[data-no_background="true"] {
  background-color: transparent;
  border: none;
  padding: 0;
}
