@use '@repo/styles/constants';

.content_element_container {
    margin-bottom: constants.$sm;
    margin-top: constants.$sm;
    background-color: constants.$white;
    overflow: hidden;
}

.content_element_title {
    position: relative;
    width: 100%;
    flex-basis: 18px;
    background-color: constants.$light;
    border-bottom: 1px solid constants.$grey;
    padding: 6px 12px;
}
