@use '@repo/styles/sizes';
@use '@repo/styles/colors';
@use '@repo/styles/layout';

.nav_container_underline {
    @include layout.flexbox($direction: row, $align: flex-end, $justify: space-between);
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding: map-get($map: sizes.$padding, $key: 'md' );
    padding-top: 0;
    padding-bottom: 0;
};

.site_navigation_container {
    @include layout.flexbox($direction: row, $align: flex-end, $justify: flex-start);
    width: auto;
    position: relative;
    z-index: 4;
    width: 100%;
    left: 0;
    height: 36px;
    padding-bottom: 0;
}

.navigation_element_container {
    @include layout.flexbox($direction: column, $align: center, $justify: space-between, $gap: 0);
    background-color: transparent;
    cursor: pointer;
    color: colors.$darkgrey;
    font-weight: 500;
    transition: border-bottom .2 ease, color .2 ease;
    // border: .5px solid colors.$grey;
    border: none;
    border-radius: map-get($map: sizes.$border_radius, $key: 'sm' );
    &:hover {
        background-color: colors.$light;
    }
    .title_container {
        padding: map-get($map: sizes.$padding, $key: 'xs' )
    }
}

.navigation_element_container[data-isactive='true'] {
    background-color: colors.$primary;
    color: colors.$light;
    // border: .5px solid colors.$secondary;
}